# IDE Settings
.idea/
.vscode/

# 3rd Party Modules
/node_modules/
/vendor/

# Build Files
assets/

# Lock Files
/package-lock.json
/composer.lock

# Sensitive Files
.env

# General
.DS_Store
Thumbs.db
