.slack-notifications-wrapper {

	* {
		box-sizing: border-box;
	}

	.hide {
		display: none;
	}

	.preview_image_box {
	  font-size: 0;
	  position: relative;
	  display: inline-block;
	  width: 350px;
	  height: 350px;
	  cursor: pointer;
	  transition: all .3s ease;
	  border: 1px solid #dddddd;
	  background: #ffffff url('icons/material-camera.svg') no-repeat center;
	  background-size: 64px;

	  &:hover,
	  &:focus {
		background-color: #fdfdfd;
	  }

	  &.has_image {
		width: auto;
		height: auto;
		background-image: none;

		img {
		  opacity: 1;
		}

		.remove-image {
		  display: block;
		}
	  }

		img {
			opacity: 0;
			max-width: 350px;
			max-height: 350px;
			height: auto;
			transition: all .5s ease;
		}

		.remove-image {
		  position: absolute;
		  right: 15px;
		  bottom: 15px;
		  display: none;
		  width: 32px;
		  height: 32px;
		  padding: 5px;
		  cursor: pointer;
		  text-indent: -9999px;
		  border: 0;
		  background: #ffffff url('icons/material-clear.svg') no-repeat center;
		}
	}

	button.slack_test_integration {
	  transition: all .3s ease;
	  background: #f7f7f7 url('') no-repeat center right 5px;
	  background-size: 20px;

	  &:hover,
	  &:focus {
		background-repeat: no-repeat;
		background-position: center right 5px;
		background-size: 20px;
	  }

	  &.testing,
	  &.ok,
	  &.error {
		padding-right: 30px;
	  }

	  &.testing {
		background-image: url('icons/ajax-loader.svg');
	  }

		&.ok {
		  background-image: url('icons/material-tick.svg');
		}

		&.error {
		  background-image: url('icons/material-error.svg');
		}
	}

	.notifications-wrapper,
	.webhooks-wrapper {
		margin-top: 16px;

		.notification-box {
			width: 600px;
			margin-bottom: 15px;

			&.open {
				.notification-header {
					.toggle-indicator {
						transform: rotate(180deg);
					}
				}
			}

			&.new {
				select {
					&.notification_options {
						display: none;

						&:first-child {
							display: block;
						}
					}
				}
			}

			.notification-header {
				background-color: #fafafa;
				cursor: pointer;
				display: flex;
				justify-content: space-between;
				position: relative;
				padding: 15px;

				&:hover,
				&:focus {
					border-color: #999999;
				}

				h2 {
					margin: 0;
					padding: 0;
					color: #23282d;
				}

				button {
					position: absolute;
					top: 0;
					right: 0;
					border: 0;
					bottom: 0;
					border-radius: 0;
					background: transparent;
					padding: 13px;

					.toggle-indicator {
						display: block;
						color: #72777c;

						&::before {
							content: "\f140";
							font: 400 20px/1 dashicons;
							speak: none;
							display: block;
							-webkit-font-smoothing: antialiased;
							-moz-osx-font-smoothing: grayscale;
							text-decoration: none !important;
						}
					}
				}
			}

			.notification-header,
			.notification-settings {
				border: 1px solid #e5e5e5;
			}

			.notification-settings {
				display: none;
				background-color: #ffffff;
				border-top: 0;

				table {
					width: 100%;
					border-collapse: collapse;

					tr {
						&:last-child {
							th,
							td {
								border-bottom: 0;
							}
						}
					}

					th,
					td {
						padding: 10px 15px;
						text-align: left;
						border-bottom: 1px solid #f0f0f0;
					}

					th {
						width: 180px;
						border-right: 1px solid #dddddd;
						background-color: #fcfcfc;
					}

					td {
						&.remove-button {
							text-align: right;
						}

						select,
						input {
							width: 100%;
						}

						.notification_options {
							display: none;

							&.current {
								display: block;
							}
						}
					}
				}
			}
		}
	}

	.page-section {
	  margin-top: 15px;
	  border: 1px solid #e5e5e5;
	  background: #ffffff;
	  box-shadow: 0 1px 1px rgba(0, 0, 0, .04);

	  header,
	  .section-contents {
		padding: 15px;
	  }

	  header {
		border-bottom: 1px solid #e1e1e1;
		background-color: #fcfcfc;

		h2 {
		  margin: 0;
		  color: #32373c;
		}
	  }

	  .section-contents {
		textarea {
		  display: block;
				width: 100%;
				height: 350px;
				resize: none;
				margin-bottom: 15px;
				text-align: left;
			}

			button#slack_clear_logs {
			  transition: all .3s ease;
			  background: #f7f7f7 url('') no-repeat center right 5px;
			  background-size: 20px;

			  &:hover,
			  &:focus {
				background-repeat: no-repeat;
				background-position: center right 5px;
				background-size: 20px;
			  }

			  &.working,
			  &.ok,
			  &.error {
				padding-right: 30px;
			  }

			  &.working {
				background-image: url('icons/ajax-loader.svg');
			  }

				&.ok {
				  background-image: url('icons/material-tick.svg');
				}

				&.error {
				  background-image: url('icons/material-error.svg');
				}
			}
		}
	}
}

/** RTL **/
.rtl {
	.slack-notifications-wrapper {
		.preview_image_box {
			&.has_image {
				.remove-image {
					right: auto;
					left: 15px;
				}
			}
		}

		button.slack_test_integration {
			background-position: center left 5px;

			&:hover,
			&:focus {
				background-position: center left 5px;
			}

			&.testing,
			&.ok,
			&.error {
				padding-right: 10px;
				padding-left: 30px;
			}
		}

		.notifications-wrapper {
			.notification-box {
				.notification-header {
					button {
						right: auto;
						left: 0;
					}
				}

				.notification-settings {
					table {
						th,
						td {
							text-align: right;
						}

						th {
							border-right: 0;
							border-left: 1px solid #dddddd;
						}

						td {
							&.remove-button {
								text-align: left;
							}
						}
					}
				}
			}
		}
	}
}