#slack_bot_image_preview {
  max-width  : 200px;
  max-height : 200px;
}

#slack_bot_image_preview img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 10px 0;
  border: 1px solid #c0c0c0;
  padding: 5px;
  background-color: #f8f8f8;
}